In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from pathlib import Path

In [2]:
# add csv file
data_salaries_csv = Path("../Resources/salaries.csv")

In [3]:
# read full dataframe
data_salaries_df = pd.read_csv(data_salaries_csv)
data_salaries_df.shape

(7919, 11)

In [4]:
# drop null values (if any)
data_salaries = data_salaries_df.dropna()
data_salaries_df.shape

(7919, 11)

In [5]:
# filter by employment type (get only full-time)
data_salaries_df["employment_type"].value_counts()
data_salaries_df = data_salaries_df.loc[(data_salaries_df["employment_type"]=="FT")]

In [6]:
# filter by country (get only US & drop redundant columns)
data_salaries_df["company_location"].value_counts()
data_salaries_df = data_salaries_df.loc[(data_salaries_df["company_location"]=="US")]
data_salaries_df = data_salaries_df.drop(columns=["salary_currency", "salary_in_usd", 
                                                  "employee_residence", "company_location"])

,work_year,experience_level,employment_type,job_title,salary,remote_ratio,company_size
2,2023,MI,FT,Data Scientist,150000,0,M
3,2023,MI,FT,Data Scientist,125000,0,M
4,2023,SE,FT,Data Scientist,150000,100,M
5,2023,SE,FT,Data Scientist,130000,100,M
8,2023,SE,FT,Data Engineer,190000,0,M

In [10]:
# reset index and export as csv
data_salaries_df.to_csv("../Resources/data_salaries_cleaned.csv", index=False)