In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from pathlib import Path

In [2]:
# add csv file
data_salaries_csv = Path("Resources/salaries.csv")

In [3]:
# read full dataframe
data_salaries_df = pd.read_csv(data_salaries_csv)
data_salaries_df.shape

(7919, 11)

In [4]:
# drop null values (if any)
data_salaries = data_salaries_df.dropna()
data_salaries_df.shape

(7919, 11)

In [5]:
# filter by employment type (get only full-time)
data_salaries_df["employment_type"].value_counts()
data_salaries_df = data_salaries_df.loc[(data_salaries_df["employment_type"]=="FT")]

In [8]:
# filter by country (get only US & drop redundant columns)
data_salaries_cleaned = data_salaries_df.loc[(data_salaries_df["company_location"]=="US")]
data_salaries_cleaned = data_salaries_df.drop(columns=["salary_currency", "salary_in_usd", 
                                                  "employee_residence", "company_location"])
data_salaries_cleaned.head()
data_salaries_cleaned.to_csv("Resources/data_salaries_cleaned.csv")

In [ ]:
# filter by year
data_salaries_2023_df = data_salaries_df.loc[(data_salaries_df["work_year"]==2023)]
data_salaries_2022_df = data_salaries_df.loc[(data_salaries_df["work_year"]==2022)]
data_salaries_2021_df = data_salaries_df.loc[(data_salaries_df["work_year"]==2021)]
data_salaries_2020_df = data_salaries_df.loc[(data_salaries_df["work_year"]==2020)]

In [ ]:
# filter by experience level
data_salaries_df["experience_level"].value_counts()
data_salaries_en_df = data_salaries_df.loc[(data_salaries_df["experience_level"]=="EN")]
data_salaries_mi_df = data_salaries_df.loc[(data_salaries_df["experience_level"]=="MI")]
data_salaries_se_df = data_salaries_df.loc[(data_salaries_df["experience_level"]=="SE")]
data_salaries_ex_df = data_salaries_df.loc[(data_salaries_df["experience_level"]=="EX")]

In [ ]:
# filter by job title
data_salaries_df["job_title"].value_counts()
data_salaries_da_df = data_salaries_df.loc[(data_salaries_df["job_title"]=="Data Analyst")]
data_salaries_ds_df = data_salaries_df.loc[(data_salaries_df["job_title"]=="Data Scientist")]
data_salaries_de_df = data_salaries_df.loc[(data_salaries_df["job_title"]=="Data Engineer")]
data_salaries_mle_df = data_salaries_df.loc[(data_salaries_df["job_title"]=="Machine Learning Engineer")]

In [ ]:
# filter to get only entry level data analysts
data_salaries_da_en_df = data_salaries_da_df.loc[(data_salaries_da_df["experience_level"]=="EN")]
data_salaries_da_en_df

In [ ]:
# find average entry level data analyst salary
data_salaries_da_en_df["salary"].max()
# round(data_salaries_da_en_df["salary"].mean(),2)

In [ ]:
# find average entry level data analyst salary by company_size
data_salaries_da_en_df.groupby(["company_size"])["salary"].mean()

In [ ]:
# filter by remote_ratio
data_salaries_df["remote_ratio"].value_counts()